{% extends 'base.html' %}

{% block title %} Регистрация {% endblock %}

{% block header %} Регистрация в соцсети VIKI {% endblock %}

{% block content %}
    <p> <img src="{{ url_for('static', filename='logo.jpg') }}" style="max-width: 300px;" ></p>
    <div class="container mt-5">
        <h1>Регистрация пользователя</h1>
        <form method="post">
            <input type="text" name="name" id="name" class="form-control" placeholder="Введите имя"><br>
            <input name="surname" id="surname" class="form-control" placeholder="Введите Фамилию"><br>
            <input name="email" id="email" class="form-control" placeholder="Введите e-mail"><br>
            <input name="password" id="password" class="form-control" placeholder="Задайте пароль"><br>
            <input type="submit" class="btn btn-success" value="Зарегистрироваться">
        </form>

    </div>
{% endblock %}