<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1 class="col-12 text-monospace text-center">Главные новости</h1>

</body>
</html>
<DOCTYPE html>
    <html lang="ru">
    <head>
        <h1 class="col-12 text-monospace text-center">Новости</h1>
        {% for i in news %}
        <p style="font-size: 18px;"><i>{{ i.data }}</i>, {{ i.name }}, {{ i.description }}</p>
        {% endfor %}
    </head>
    <body>

    </body>
    </html>
