{% extends 'base.html' %}

{% block title %} Товары {% endblock %}

{% block content %}
    <h1 class="col-12 text-monospace text-center">Велосипеды</h1>
    <div class="row">
        {% for i in products %}
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <p style="font-size: 18px;">
                    <h2>{{ i.name }}</h2>
                    <p> <img src="{{ i.link }}" style="max-width: 200px;"></p>
                    <p>Тип {{ i.description }} </p>
                    <p>Цена {{ i.price }} рублей</p>
                </p>
            </div>
        {% endfor %}
    </div>
{% endblock %}